.container{
    display: flex;
}
.block{
    width: 300px;
    height: 100px;
    background-color: lightblue;
    margin: 20px;
    text-align: center;
    display: block;
}

.coll{
    display: none;
    width: 300px;
    height: 100px;
    background-color: yellow;
    margin: 20px;
    text-align: center;
}
.hide{
    width: 70px;
    height: 20px;
    border-radius: 2px;
    background: green;
    margin: 0 auto;
    cursor: pointer;
}